@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <input type="hidden" id="superiorCode" name="superiorCode" value="${item}">
                <input type="hidden" id="id" name="id" value="${item.id}">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td style="text-align:center;height: 40px;margin-left: 30px;font-weight: bold;width: 25%;">
                                科目名称:
                            </td>
                            <td>
                                <input style="width: 70%;height: 30px;border-radius: 20px;border: 1px #e5e6e7 solid;text-indent: .8em" type="text" id="subiectName" name="subiectName" value="${item.subiectName}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;height: 40px;margin-left: 30px;font-weight: bold;width: 25%;">
                                科目类别:
                            </td>
                            <td>
                                <select style="width: 70%;height: 30px;border-radius: 20px;border: 1px #e5e6e7 solid;text-indent: .8em" id="accountCategory" name="accountCategory">
                                    <option value=""
                                            @if(item.accountCategory == ''){
                                    selected="selected"
                                    @}
                                    >无科目类别 </option>
                                    <option
                                            @if(item.accountCategory == '流动资产'){
                                            selected="selected"
                                            @}
                                    >流动资产 </option>
                                   <option
                                           @if(item.accountCategory == '长期资产'){
                                           selected="selected"
                                           @}
                                    >长期资产</option>
                                    <option
                                            @if(item.accountCategory == '流动负债'){
                                            selected="selected"
                                            @}
                                    >流动负债</option>
                                    <option
                                            @if(item.accountCategory == '长期负债'){
                                            selected="selected"
                                            @}
                                    >长期负债</option>
                                    <option
                                            @if(item.accountCategory == '共同'){
                                            selected="selected"
                                            @}
                                    >共同</option>
                                    <option
                                            @if(item.accountCategory == '所有者权益'){
                                            selected="selected"
                                            @}
                                    >所有者权益</option>
                                    <option
                                            @if(item.accountCategory == '成本'){
                                            selected="selected"
                                            @}
                                    >成本</option>
                                    <option
                                            @if(item.accountCategory == '营业收入'){
                                            selected="selected"
                                            @}
                                    >营业收入</option>
                                    <option
                                            @if(item.accountCategory == '营业成本及税金'){
                                            selected="selected"
                                            @}
                                    >营业成本及税金</option>
                                    <option
                                            @if(item.accountCategory == '期间费用'){
                                            selected="selected"
                                            @}
                                    >期间费用</option>
                                    <option
                                            @if(item.accountCategory == '其他收益'){
                                            selected="selected"
                                            @}
                                    >其他收益</option>
                                    <option
                                            @if(item.accountCategory == '其他损失'){
                                            selected="selected"
                                            @}
                                    >其他损失</option>
                                    <option
                                            @if(item.accountCategory == '以年度损益调整'){
                                            selected="selected"
                                            @}
                                    >以年度损益调整</option>
                                    <option
                                            @if(item.accountCategory == '所得税'){
                                            selected="selected"
                                            @}
                                    >所得税</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;height: 40px;margin-left: 30px;font-weight: bold;width: 25%;">余额方向:</td>
                            <td>
                                <div style="overflow:hidden;">
                                    <div style="float:left;"> <input
                                            @if(item.balanceDirection == '借'){
                                        checked="checked"
                                        @}
                                        checked="true" type="radio" name="balanceDirection" id="jie"  value="借" style="margin-left: 8px"/><label for="jie"></label><span>借</span></div>
                                    <div style="float:left;margin-left: 56px;"> <input
                                            @if(item.balanceDirection == '贷'){
                                        checked="checked"
                                        @}
                                            type="radio" name="balanceDirection"  value="贷" id="dai" style="margin-left: 8px" /><label for="dai"></label><span>贷</span></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;height: 40px;margin-left: 30px;font-weight: bold;width: 25%;">数据类型:</td>
                            <td>
                                <div style="overflow:hidden;">
                                    <div style="float:left;"><input
                                            @if(item.costType == '0'){
                                        checked="checked"
                                        @}
                                            checked="true" type="radio" name="costType" id="maoyi" value="0" style="margin-left: 8px"/><label for="maoyi"></label><span>贸易类</span></div>
                                    <div style="float:left;margin-left: 30px;">  <input
                                            @if(item.costType == '1'){
                                        checked="checked"
                                        @}
                                            type="radio" name="costType" id="feimaoyi" value="1" style="margin-left: 8px" /><label for="feimaoyi"></label><span>非贸易类</span></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;height: 40px;margin-left: 30px;font-weight: bold;width: 25%;">辅助核算:</td>
                            <td>
                                <div style="float:left;"> <input
                                        @if(item.otherAccounting == 1){
                                        checked="checked"
                                        @}
                                        checked="true" type="radio" name="otherAccounting" id="danhe" value="1" style="margin-left: 8px"/><label for="danhe"></label><span>单一</span></div>
                                <div style="float:left;margin-left: 43px;">  <input
                                        @if(item.otherAccounting == 2){
                                        checked="checked"
                                        @}
                                        type="radio" name="otherAccounting" id="duohe" value="2" style="margin-left: 8px" /><label for="duohe"></label><span>多核</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div style="height: 25px;">
                                    <input
                                            @if(item.contactsDnit == '1'){
                                    checked="checked"
                                    @}else{
                                    disabled="disabled"
                                    @}
                                    type="checkbox" id="contactsDnit" name="contactsDnit"  value="1" style="margin-left: 8px" /><label for="contactsDnit" style="border-radius: 4px;width: 15px;height: 15px;" class="label2"></label>&nbsp;<span style="margin-bottom: 5px;">往来单位核算</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div style="height: 25px;">
                                    <input
                                            @if(item.department == '1'){
                                    checked="checked"
                                    @}else{
                                    disabled="disabled"
                                    @}
                                    type="checkbox" id="department" name="department"  value="1" style="margin-left: 8px" /><label for="department" style="border-radius: 4px;width: 15px;height: 15px" class="label2"></label>&nbsp;<span>部门核算</span>
                                </div>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div style="height: 25px;">
                                    <input
                                            @if(item.staff == '1'){
                                    checked="checked"
                                    @}else{
                                    disabled="disabled"
                                    @}
                                    type="checkbox" id="staff" name="staff"  value="1" style="margin-left: 8px" /><label for="staff" style="border-radius: 4px;width: 15px;height: 15px" class="label2"></label>&nbsp;<span>职员核算</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="text-align: center;">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExpenseAccountInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExpenseAccountInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    span{
        margin-left: 15px;line-height: 35px;}
    div {
        position: relative;
        line-height: 30px;
    }
    input[type="radio"] {
        width: 20px;
        height: 20px;
        opacity: 0;
    }
    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        opacity: 0;
    }
    label {
        position: absolute;
        left: 15px;
        top: 8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #999;
    }
    /*设置选中的input的样式*/
    /* + 是兄弟选择器,获取选中后的label元素*/
    input:checked+label {
        background-color: #0557b2;
        border: 1px solid #0557b2;
    }
    input:checked+label::after {
        position: absolute;
        content: "";
        width: 5px;
        height: 10px;
        top: 3px;
        left: 6px;
        border: 2px solid #fff;
        border-top: none;
        border-left: none;
        transform: rotate(45deg)
    }
    input:checked+.label2::after {
        position: absolute;
        content: "";
        width: 5px;
        height: 10px;
        top: 1px;
        left: 4px;
        border: 2px solid #fff;
        border-top: none;
        border-left: none;
        transform: rotate(45deg)
    }
</style>
<script src="${ctxPath}/static/modular/finance/expenseAccount/expenseAccount_info.js"></script>
@}
