@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12" style="position: absolute;z-index: 100">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>凭证展示管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        </div>
                        <div class="hidden-xs" id="EntryTableToolbar" role="group">
                            @if(shiro.hasPermission("/entryGlm/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Entry.openAddEntry()"/>
                            @}
                        </div>
                        <#table id="EntryTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/finance/entry/entryAdd.js"></script>
@}
